<div class="home-div">
  <table id="home_table" class="table table-bordered table-condensed round">
    <tr>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Spend time expanding the checkbook, not balancing it
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "hammer-small.png" %>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Use the right tool for the right job, paperwork included</td>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "wrench-small.png" %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="centered-image highlight round">
            <%= image_tag "framing1.png", class: "round" %>
        </div>
      </td>
    </tr>
    <tr>      
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Tax season is cake when everything you need is in one spot
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "screwdriver-small.png" %>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Never forget your briefcase again, it's online!
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner"><%= image_tag "plyers-small.png" %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

        


  