<div id="home_sign_in" class="pull-right border1">
  <h3>Sign In</h3>
  <%= simple_form_for("user", :url => user_session_path) do |f| %>
    <%= f.input :email, required: false %>
    <%= f.input :password, required: false %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, required: false %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path('user') %>
  <% end %>
</div>
  <table id="home_table" class="table table-bordered">
    <tr>
      <td class="round highlight">
        Spend time expanding the checkbook, not balancing it
      </td>
      <td class="round highlight">
        Use the right tool for the right job, in construction as well as paperwork
      </td>
    </tr>
    <tr>
      <td><%= image_tag "wrench.png" %></td>
      <td><%= image_tag "hammer.png" %></td>
    </tr>
    <tr>
      <td class="highlight round">
        Forgot your briefcase? No problem, look it up online
      </td>
      <td class="highlight round">
        Tax season is cake when everything you need is in one spot
      </td>
    </tr>
    <tr>
      <td><%= image_tag "plyers.png" %></td>
      <td><%= image_tag "screwdriver.png" %></td>
  </table>
        


  