<% provide(:title, 'Home') %>
<div class="home-div">
  <table id="home_table" class="table table-bordered table-condensed round">
    <tr>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Spend time expanding the checkbook, not balancing it
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "hammer-small.png" %>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Use the right tool for the right job, paperwork included</td>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "wrench-small.png" %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="center-image highlight round">
          <!--  Carousel -->
          <div id="this-carousel-id" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "carousel1.png", class: "round" %>
                <div class="carousel-caption">
                  <p>A Strong Foundation For Your Business</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag "carousel2.png", class: "round" %>
                <div class="carousel-caption">
                  <p>That Keeps Everything From Falling Apart</p>
                </div>
              </div>
              <div class="item">
                <%= image_tag "carousel3.png", class: "round" %>
                <div class="carousel-caption">
                  <p>So You Can Focus On What You Do Best</p>
                </div>
              </div>
            </div>
              <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
          </div><!--/.carousel -->
        </div>
      </td>
    </tr>
    <tr>      
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Tax season is cake when everything you need is in one spot
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner">
            <%= image_tag "screwdriver-small.png" %>
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-text-outer">
          <div class="pop-text-inner">
            Never forget your briefcase again, it's online!
          </div>
        </div>
      </td>
      <td>
        <div class="round highlight pop-img-outer">
          <div class="pop-img-inner"><%= image_tag "plyers-small.png" %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 6000
    });
  });

</script>

        


  