<% provide(:title, "Account Setup") %>
<div class="row-fluid">

<div class="span8 form-highlight round padding2">
  <h2>Create Account</h2>
  <div class="line"></div>
  <span class="required_notification">* Denotes Required Field</span>
  </br>
  <h4> Select a Company </h4>
  <%= render 'companies/companymodal' %>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :company_id, autofocus: true, required: false, collection: Company.all, input_html: { required: "required"}, include_blank: false %>
    <%= f.input :role, label: "Account Type", collection: ["Owner", "Employee"], include_blank: false, input_html: { required: "required"} %>
    <%= f.input :name, hint: "First and Last", required: false,  input_html: { required: "required"}  %>
    <%= f.input :username, required: false, hint: "Not Case Sensitive", input_html: { required: "required"} %>
    <%= f.input :email, hint: "Format: yourname@email.com", input_html: { required: "required"} %>
    <%= f.input :password, input_html: { required: "required"} %>
    <%= f.input :password_confirmation, input_html: { required: "required"} %>
    <%= f.button :submit, class: "submit btn btn-large btn-primary" %>
  <% end %>
</div>

<div class="span4 border round highlight ">
  <h2>Step 1</h2>
  <h6>You're on the right track</h6>
  </br>
  <h3> Step 1: Required Information</h3>
  <p>The information you are entering here is required for you to manage your account. You will login using your <strong>Username</strong> and your <strong>password</strong>.</p>
</div>

</div>

