  <table width="100%" id="invoice_items_form">
  <tr>
    <td class="highlight">Activity</td>
    <td class="highlight">Description</td>
    <td class="highlight" colspan ="2">Amount</td>
  </tr>
  <% if @invoice_items.empty? %>
  <% else %>
    <%  @invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.category %></td>
        <td><%= invoice_item.description %></td>  
        <td ><%= invoice_item.cost %></td>
        <td>
          <% if can? :delete, invoice_item %><%= link_to "Delete", invoice_item_path(invoice_item), method: :delete %></td><% end %>        
      </tr> 
    <% end %>
  <% end %>

  <%= simple_form_for [@invoice, InvoiceItem.new] do |f| %>
  <tr>
    <td>
      <%= f.collection_select :category, Bid::CATEGORIES, :to_s, :to_s, include_blank: false %>
    </td>
    <td>
      <%= f.text_field :description, class: "span4"%>
    </td>
    <td>
      <%= f.text_field :cost, class: "span1" %>
    </td>
    <td>
      <%= f.submit "Add", class: "btn" %>
    </td> 
  </tr>
<% end %>
</table>