<table id="jobs_form" class="span8 shadow" cellpadding="5">
  <th class="header"><%= @head %> Job</th>
  <tr>
    <td>
      <%= simple_form_for(@job) do |f| %>
      <table width="100%">
        <tr>
          <td><%= f.association :customer, :include_blank => false, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :location, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :budget, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :estimated_start_date, :as => :date, :label => 'Start Date' %></td>
        </tr>
        <tr>
          <td><%= f.input :estimated_finish_date, :as => :date, :label => 'Finish Date' %></td>
        </tr>
        <tr>
          <td><%= f.input :description, :as => :text %></td>
        </tr>
        <tr>
          <td><%= f.button :submit, class: "submit btn btn-large btn-primary" %></td>
        </tr>
      </table>
      <% end %>
    </td>
  </tr>
</table>