<% provide(:title, "Job Setup") %>
<div class="row-fluid">

<div class="span8 form-highlight round padding2">
  <h2>Job Setup</h2>
  <div class="line"></div>
  <span class="required_notification">* Denotes Required Field</span>
  </br>
  <%= simple_form_for(@job) do |f| %>
    <%= f.error_notification %>
    <%= f.association :customer, :include_blank => false, :required => false, input_html: { required: "required"} %>
    <%= f.input :location, :required => false %>
    <%= f.input :budget, :required => false %>
    <%= f.input :start_date, :as => :string %>
    <%= f.input :finish_date, :as => :string %>
    <%= f.input :scope_of_work, :as => :text %>
    <%= f.input :detail_of_work, :as => :text %>
    <%= f.button :submit, class: "submit btn btn-large btn-primary" %>
  <% end %>
</div>

<div class="span4 border round highlight ">
  <h2>Customer Information</h2>
  <h6>Details</h6>
  </br>
  <h3>Note:</h3>
  <p>The information you are entering here will help you to generate invoices and bids with ease.</p>
</div>

</div>