<% provide(:title, "Jobs") %>
<table class="table table-bordered table-condensed shadow">
  <th class="header">Job Information</th>
  <tr>
    <td>
			<table class="table table-bordered table-condensed">
				<th class="highlight" colspan="4">Job Details</th>
				<tr>
					<td width="20%">Customer</td>
					<td><%= @job.customer.name %></td>
				</tr>
				<tr>
					<td width="20%">Location</td>
					<td><%= @job.location %></td>
				</tr>
				<tr>
					<td width="20%">Status</td>
					<td><%= @job.status_in_words %></td>
				</tr>
				<tr>
					<td width="20%">Start Date</td>
					<td><%= @job.start_date.to_date %></td>
				</tr>
				<tr>
					<td width="20%">Finish Date</td>
					<td><%= @job.finish_date.to_date %></td>
				</tr>
			</table>
			<%= render "jobs/budgetinfo" %>
			<% if @job.started? %>
				<%= render 'jobs/jobexpense' %>
		  <% end %>
		  <table class="table table-bordered table-condensed">
				<tr>
					<% if @job.scope_of_work.present? %>
						<td width="20%">Scope of Work</td>
						<td><%= @job.scope_of_work %></td>
					<% end %>
				</tr>
				<tr>
					<% if @job.detail_of_work.present? %>
						<td width="20%">Detail of Work</td>
						<td><%= @job.detail_of_work %></td>
					<% end %>
				</tr>
			</table>
			<table class="table table-bordered table-condensed">
				<tr>
					<%= form_for(@job) do |f| %>
						<% if @job.started? %>
							<td>
								<%= f.hidden_field :status, :value => 4 %>
					      <%= f.submit "Finish", class: "btn btn-primary" %>
					    </td>
						<% else %>
							<td>
								<%= f.hidden_field :status, :value => 1 %>
					      <%= f.submit "Start", class: "btn btn-primary" %>
					    </td>
					  <% end %>
				  <% end %>
				</tr>
			</table>
		</td>
	</tr>
</table>




