<script>
  $(document).ready(function() {
    $('#add_company').bind('show');
    });
  function closeDialog () {
    $('#add_company').modal('hide'); 
    };
</script>
  <% if current_user.admin? && current_user.company.nil? %>
    <%= render 'companies/companyform' %>
  <% else %>
  <tr>
    <td class="highlight">Company</td>
    <td class="highlight">Earnings Year To Date</td>
    <td class="highlight">Expenses Year To Date</td>
    <td class="highlight">Gross Profit</td>
    <td class="highlight">Average Dollar Profit Per Job</td>
  </tr>
  <tr>
    <td><%= @company.name %></td>
    <td><%= @company.income %></td>
    <td><%= @company.expense %></td>
    <td><%= @company.gross_profit %></td>
    <td><%= @company.avg_profit_per_job %></td>
  </tr>
  <% end %>
</table>
</br>

