<% provide(:title, "Account Settings For #{@user.name}") %>
<div class="row-fluid">

  <div class="span8 form-highlight round padding2">
    <h2>Welcome <%= @user.name %></h2>
    <h4>Take a minute to tell us about yourself</h4>
    <div class="line"></div>
    <span class="required_notification">* Denotes Required Field</span>
    <%= simple_form_for (@user) do |f| %>
      <%= f.error_notification %>
        <%= f.input :name, hint: "First and Last", required: false,  input_html: { required: "required"}  %>
        <%= f.input :username, required: false, hint: "Not Case Sensitive", input_html: { required: "required"} %>
        <%= f.input :email, hint: "Format: yourname@email.com", input_html: { required: "required"} %>
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :zip %>
        <%= f.input :pay_rate, label: "Hourly Wage", hint: "How much do you get paid per hour?" %>
        <%= f.input :phone, label: "Phone Number", hint: "Recommended Format: (888)444-555" %>
        <%= f.button :submit, class: "submit btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="span4 border round highlight ">
    <h2>Step 2 (Optional)</h2>
    <h6>Just about done</h6>
    </br>
    <h3> Step 2: Optional Information</h3>
    <p>If you want to skip this step for now you can alwasy add this later. However this information is required for you to generate invoices and estimates and those save you time!</p>
  </div>

</div>