<% provide(:title, "Account For #{@user.name}") %>
<% if @user.company.nil? %>
  <h2><%= image_tag "invalid.png" %>You don't currently have a company registered 
    <%= link_to "Click Here", new_company_path %> to add one</h2>
<% end %>
<%= render 'users/accountinfo' %>
<%= render 'users/personalinfo' %>
<% if @user.employee %>
  <%= render 'users/showtimeclocks' %>
<% end %>






       
















