<table id="users_form" class="span8 shadow" cellpadding="5">
  <th class="header"><%= @head %> Customer</th>
  <%= simple_form_for(@customer) do |f| %>
  <tr>
    <td>
      <table class="table-bordered table-condensed" width="100%" cellpadding="5">
        <tr>
          <td><%= f.input :name, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :email, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :address, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :city, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :state, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :zip, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :phone, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.button :submit, class: "submit btn btn-large btn-primary"%></td>
        </tr>
      </td>
    </tr>
    <% end %>
</table>
