<% provide(:title, 'Create Company') %>
<div class="span10 border round center">
  <div class="highlight round"> <h2 class="center-text">Create Company</h2></div>
</br>
<%= simple_form_for(@company, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="control-group">
      <%= f.input :name, autofocus: true, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large' } %>
      <%= f.input :email, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large' } %>
      <%= f.input :address, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large' } %>
      <%= f.input :city, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large'} %>
      <%= f.input :state, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large'} %>
      <%= f.input :zip, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large'} %>
      <%= f.input :phone, :label_html => { :class => 'control-label' }, :input_html => { :class => 'input-large' } %>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Create Company</button>
    <button class="btn">Cancel</button>
  </div>
<% end %>
</div>