<div class="modal hide fade" id="add_user">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Create Company</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for(Company.new) do |f| %>
      <%= f.input :name, autofocus: true, required: false, input_html: { required: "required"}  %>
      <%= f.input :website %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
      <%= f.button :submit, class: "submit btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<a data-toggle="modal" href="#add_user" class="btn">Click here add your company</a>