<table id="users_form" class="span8 shadow" cellpadding="5">
  <th class="header">New Company</th>
  <tr>
    <td>
      <table class="table-bordered table-condensed" width="100%" cellpadding="5">
        <%= simple_form_for(@company) do |f| %>
        <tr>
          <td><%= f.input :name, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :website, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :email %></td>
        </tr>
        <tr>
          <td><%= f.input :address, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :city, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :state, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :zip, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :phone, :required => false %></td>
        </tr>
        <tr>
          <td><%= f.input :password %></td>
        </tr>
        <tr>
          <td><%= f.input :password_confirmation, label: "Confirmation" %></td>
        </tr>
        <tr>
          <td><%= f.button :submit, class: "submit btn btn-large btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>