<div class="modal hide fade" id="add_time_clock">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times;</a>
    <h3>Record a Shift</h3>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-condensed">
      <%= simple_form_for TimeClock.new do |f| %>
      <tr>
        <td>
          <%= f.label :job, "Select Job" %>
          <%= f.grouped_collection_select :job_id, Customer.order(:name), :jobs, :name, :id, :location, include_blank: false %>
        </td>
        <td><%= f.input :hours, :required => false %></td>
      </tr>
      <tr>
        <td id="time_clock_date" colspan="2"><%= f.input :work_date %></td> 
      </tr>        
      <tr>
        <td colspan="2"><button type="submit" class="btn-primary">Add Shift</button></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<li><a data-toggle="modal" href="#add_time_clock">Record a Shift</a></li>

