<% if user_signed_in? %>
  <div id="quick_links" class="span2 round border center-text shadow">
    <h6>Quick Links</h6>
    <% unless current_user.quick_links.nil? %>
      <ul>
        <% current_user.quick_links.each do |link|  %>
          <li><%= link_to link.name, link.link %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
<div class="span2 round border center-text shadow">
  <h6>Sign In</h6>
  <%= simple_form_for("user", :url => user_session_path) do |f| %>
    <div id="login_sidebar" class="inputs">
      <%= f.input :email, required: false, :input_html => { :class => 'input-small' }  %>
      <%= f.input :password, required: false, :input_html => { :class => 'input-small' }  %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, required: false %>
      <%= f.submit 'Sign in' %>
    </div>
    <%= link_to "Forgot your password?", new_password_path('user') %>
    <% end %>
</div>
<% end %>