<!DOCTYPE html>
<html>
<head>
  <title>Molitum | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  <div id="wrap">
    <div id="main" class="container-fluid span10" >
      <%= render 'layouts/header' %> 
      <%= render 'layouts/alert' %>  
      <div class="row-fluid">
        <%= render 'layouts/sidebar' %>
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>    
  </div>
  <div class="navbar navbar-fixed-bottom center span10">
    <%= render 'layouts/footer' %> 
  </div>
</body>
</html>
