<!DOCTYPE html>
<html>
<head>
  <title>Molitum | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
  <div id="logo" class="span10" >
    <h1>Molitum</h1>
    </br>
    <h6>Useful Solutions for General Contractors</h6>
  </div>
  <div id="main" class="container-fluid span10">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><%= link_to "Home", root_path, class: "brand" %></li>
            <li class="divider-vertical"></li>

          </ul>
        </div>
      </div>
    </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
    <% end %>

    <%= render 'layouts/tabs' %>
    <%= yield %>
  </div>  
<%= render 'layouts/footer' %>
</body>

</html>
