<!DOCTYPE html>
<html>
<head>
  <title>Molitum | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
    <div id="main" class="container-fluid span10 border round" >
      <%= render 'layouts/alert' %> 
      <%= render 'layouts/header' %>
      <div class="row-fluid">
        <%= render 'layouts/sidebar1' %>
        <div class="span8">
          <%= yield %>
        </div>
        <%= render 'layouts/sidebar2' %>
      </div>
    </div> 
  <div class="navbar navbar-fixed-bottom center span10">
    <%= render 'layouts/footer' %> 
  </div>
</body>
</html>
