<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Molitum | <%= @title %></title>
=======
  <title>Molitum | <%= yield(:title) %></title>
>>>>>>> static_pages
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 
</head>
<body>
<<<<<<< HEAD
  <div class="navbar navbar-fixed-top">
    <div>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
    </div>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <h1 class="brand">Molitum</h1>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "Home", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
=======
  <div id="logo" class="span10" >
    <h1>Molitum</h1>
    </br>
    <h6>Useful Solutions for General Contractors</h6>
  </div>
  <div id="main" class="container-fluid span10">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><%= link_to "Home", root_path, class: "brand" %></li>
            <li class="divider-vertical"></li>

>>>>>>> static_pages
          </ul>
        </div>
      </div>
    </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %><button class="close" data-dismiss="alert">×</button></div>
    <% end %>

    <%= render 'layouts/tabs' %>
    <%= yield %>
  </div>  
<%= render 'layouts/footer' %>
</body>

</html>
